#class-types {
    background-color: rgb(245, 241, 245);
    color: #3a3a3a;
    font-family: 'Dosis', arial;
    text-align: center;
    letter-spacing: 2px;
    margin: 150px 0 0 0;
    padding: 0 50px 100px 50px;
    #classes-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2 {
        padding-top: 50px;
    }
    p  {
        box-sizing: border-box;
        text-align: center;
        height: 140px;
        margin: 0 100px 50px 100px;
    }
    .column-container {
        border: 1px solid black;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 30px;
        padding: 20px 0 0 0;
        overflow: hidden;
        max-width: 600px;
    }
    img {
        position: relative;
        top: 10px;
        width: 100%;
    }
    
}
@media screen and (max-width: 700px) {
    #class-types {
        .column-container {
            margin: 10px 0px;
            padding: 5px 0 0 0;
        }
        p {
            font-size: 12px;
            margin: 0 100px 15px 100px;
        }
    }
}