<div id="class-types">
  <h2>OUR CLASSES</h2>
    <div id="classes-container">
      <div class="column-container">
        <h3>Group classes</h3>
        <p><em>(up to 5 people)</em><br /><br />
          Each group class is 1-hour long and provides a safe and in-expensive way to get
          the benefits of a pilates workout but in a friendly group environment.
        </p>
        <img src="assets/img/group-pilates.jpg" alt="pilates group class" class="col-12" />
      </div>
      <div class="column-container">
        <h3>Private sessions</h3>
        <p>
          A private pilates session benefits from 1-on-1 personalized
          instruction that enables you to get the best out of you body and improve your over-all mobility.<br /><br />
          At your request private sessions can be tailored to 2 people.<br />
          So feel comfortable to bring a friend.
        </p>
        <img src="assets/img/private-pilates.png" alt="pilates group class" class="col-12" />
      </div>
      
  </div>
</div>
