#class-section h2 {
    text-align: center;
}
#class-section p  {
    box-sizing: border-box;
    text-align: center;
    height: 140px;
}
#class-section .column-container {
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}