<div id="contact-details">
    <div class="flex align-items__center">
        <i class="fas fa-map-marked-alt"></i>
        <p>1001 Cabrillo Park Drive, Santa Ana, California 90210</p>
    </div>
    <div class="flex align-items__center">
        <i class="fas fa-mobile-alt"></i>
        <p>021 025 76301</p>
    </div>
    <div class="flex align-items__center">
        <i class="far fa-envelope"></i>
        <p>andbox1@gmail.com</p>
    </div>
    <div class="flex align-items__center">
        <i class="fab fa-facebook"></i>
        <p>/TustinPilates</p>
    </div>
</div>
