#contact-details {
    margin: 50px;
    i {
        text-align: center;
        width: 30px;
    }
    p {
        font-family: 'Dosis', arial;
        margin: 5px;
        width: 100%;
    }
}