#footer-section {  
    margin: 40px 0;
    font-family: 'Dosis';
    text-align: center;
    p {
        text-align: center;
        font-family: 'Dosis';
        font-size: 16px;
        letter-spacing: 1px;
    }
}