.testimonial {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  padding: 10px 0 40px 0;
  position: relative;
  text-align: center;
  .fa-icon-star {
    color: #ffe016;
    font-size: 20px;
    margin: 5px;
  }
  h2 {
    font-size: 16px;
    margin: 20px 0 0 0;
  }
  p {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0px 5px;
  }
  p:last-of-type {
    font-size: 14px;
    color: #474747;
  }
  .rating {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}