<div id="about-page">
    <h2 class="page-title">ABOUT US</h2>
    <p id="about-introduction">
        Tustin Pilates is a studio for everyone.<br /><br />
        We have classes to fit all scenarios and ability levels, whether you are totally new to pilates, 
        recovering from injury or disability, <br />
        or are a fitness guru and looking to be worked hardcore. <br /><br />
        We are experts in both injury prevention and rehabilitation, aswell as fitness and exercise.
        And can help you through your recovery, or push you to become your best and healthiest self.<br /><br />
        With personalised private lessons and small group classes available there is an entry point for everyone.<br /><br />
    </p>
    <div class="section">
        <h2 class="section-title">HOW TUSTIN PILATES CAN HELP</h2>
        <div class="help-grid__row">
            <div class="help-grid__col"> 
                <div class="flex align-items__center">
                    <i class="fas fa-dumbbell"></i>
                    <h3>Full Body Exercise</h3>
                </div>
                <p>Pilates is a full-body exercise.
                    It focuses on the core while training the entire body as an integrated system.
                    Pilates can improve strength, muscle imbalance and increase flexibility and range of motion.
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="fas fa-female"></i>
                    <h3>Tailored / Pregnancy</h3>
                </div>
                <p>Pilates sessions are tailored to individual needs. 
                    Pilates is for everyone, including elite athletes, the injured, seniors, pregnant women and everyone in-between. 
                    There are literally hundreds of exercises and modifications for each client.
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="fas fa-user-check"></i>
                    <h3>Improves Posture</h3>
                </div>
                <p>Poor posture creates a string of structural changes throughout the body that can cause pain and imbalance in the shoulders, 
                    neck and head as well as a tilt of the pelvis or a shift of the hips adding pressure to muscles and joints. 
                    This, in turn, may cause migraines, neck, lower back, hip, knee and foot pain.  
                    Pilates targets the deep postural muscles creating a strong, aligned core from which to move.
                </p>
            </div>   
        </div>
        <div class="help-grid__row">
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="far fa-heart"></i>
                    <h3>Heal & Prevent Back Injury</h3>
                </div>
                <p>Pilates heals and prevents back injuries. 
                    In a recent study of patients with back pain, the participants that included 
                    Pilates in their exercise routine saw dramatic improvement compared with those taking only pain medication. 
                    Doctors, chiropractors and physical therapists recommend Pilates exercise for most back pain. 
                    Lasting improvements come with regular exercises that stretch and lengthen the spine.
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="far fa-thumbs-up"></i>
                    <h3>Muscular balance</h3>
                </div>
                <p>Pilates works to restore the balance and re align the body.
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="fas fa-heartbeat"></i>
                    <h3>Improves circulation</h3>
                </div>
                <p>Strengthening the core and working one limb at a time will improve balance. 
                    The classic “Pilates Hundred” exercise is meant to get the blood circulating and act like a “rain shower” inside your body.
                </p>
            </div>
        </div>
        <div class="help-grid__row">
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="far fa-hand-rock"></i>
                    <h3>Increase Core Strength</h3>
                </div>
                <p>If the trunk of a tree is not strong, what use are its limbs? 
                    We can train our arms and legs to be strong with weight training, but in Pilates you are never working just one muscle. 
                    Why not get more results in less time? Train your center while stretching and strengthening other muscles. 
                    This is called functional fitness.
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="far fa-grin-beam"></i>
                    <h3>Weight Loss</h3>
                </div>
                <p>If you practice Pilates regularly, you will change your body. 
                    Pilates creates long, lean, strong muscles. 
                    Just because it is low-impact does not mean it is easy. 
                    Once you have the routine down, expect to work up a light sweat. 
                    The formula for weight loss remains the same: burn more calories than you consume. 
                    Because Pilates is a full-body exercise, it will help you do just that!
                </p>
            </div>
            <div class="help-grid__col">
                <div class="flex align-items__center">
                    <i class="fas fa-running"></i>
                    <h3>Improve Breathing</h3>
                </div>
                <p>Pilates will increase your lung capacity and your ribs will move more freely.
                </p>
            </div>   
        </div>
    </div>


    <h2 class="section-title">STUDIO &  INSTRUCTOR</h2>
    <p class="col-12 text-align__center">Take a look at our studio and get to know our fantastic instructor.</p>
    <div class="studio-picture-gallery">
        <div class="studio-picture">
            <span class="hover-text">Mat area</span>
            <img src="assets/img/studio-mat-area.jpg" alt="class schedule" />
        </div>
        <div class="studio-picture">
            <span class="hover-text">Reformer area</span>
            <img src="assets/img/studio-reformer-area.jpg" alt="class schedule" />
        </div>
        <div class="studio-picture">
            <span class="hover-text">Street View</span>
            <img src="assets/img/studio-outside.jpg" alt="class schedule" />
        </div>
    </div>
    <div class="instructor-picture">
        <img src="assets/img/trainer.jpg" alt="class schedule" />
        <div>
            <h3>Mike Yang</h3>
            <h4>Tustin Pilates Instructor</h4>
            <p>
            Mike is a friendly and dedicated member of the Tustin Pilates team.<br />
            Mike has a pilates certifacion from the Pilates instutite of California and over 10 years of
            experience working in the industry.<br />
            With an extensive knowledge of Pilates techniques Mike has experience in
            all aspect of Pilates and has done exceptional work with clientel specialising in injury recovery.
            </p>
        </div>
    </div>
</div>