<div id="add-review-form">
  <p>Leave a review</p>
  <form id="review-form"  >
    <div class="review-form-data">
      <label htmlFor="reviewer-message">Message</label>
      <textarea
        id="reviewer-message"
        name="reviewerMessage"
        type="text"
        autoComplete="off"
        required
        >
      </textarea>
    </div>
    <div class="review-form-data">
      <label htmlFor="reviewer-name">Name</label>
      <input
        id="reviewer-name"
        name="reviewerName"
        type="text"
        length="25"
        autoComplete="off"
        required
       >
    </div>
    <div class="review-form-data">
      <label htmlFor="reviewer-name">Company</label>
      <input
        id="reviewer-company"
        name="reviewerCompany"
        type="text"
        length="25"
        autoComplete="off"
        required
      >
    </div>
    <div class="review-form-data">
      <label htmlFor="reviewer-position">Position</label>
      <input
        id="reviewer-position"
        name="reviewerPosition"
        type="text"
        length="25"
        autoComplete="off"
        required
      >
    </div>
    <div id="review-rating">
  </div>
    <button type="submit" id="review-add-button">Post review</button>
  </form>
</div>