<div id="classes-page">
    <h2 class="page-title">CLASSES</h2>
    <div class="class-row">
        <div class="col-12">
            <h3>Private Pilates</h3>
            <p>
                A private pilates session benefits from 1-on-1 personalized
                instruction that enables you to get the best out of you body and improve your over-all mobility.<br /><br />
                At your request private sessions can be tailored to 2 people.<br />
                So feel comfortable to bring a friend.
            </p>
            <p>$85</p>
            <p>1 Hour session</p>
        </div>
        <img src="assets/img/private-pilates.png" alt="pilates group class" class="col-12" />
    </div>
    <div class="class-row">
        <img src="assets/img/group-pilates.jpg" alt="pilates group class" class="col-12" />
        <div class="col-12">
            <h3>Traditional Group class</h3>
            <p><em>(up to 5 people)</em><br /><br />
                Group class pilates provides a safe and affordable way to get
                the benefits of a pilates workout but in a friendly group environment.<br /><br />
                This class focuses on more traditional pilates involving more spring-board work
                and time under tension resistance.
            </p>
            <p>$35</p>
            <p>1 Hour session</p>
        </div>   
    </div>
    <div class="class-row">
        <div class="col-12">
            <h3>Aerobic Group Pilates</h3>
            <p><em>(up to 5 people)</em><br /><br />
                Group class pilates provides a safe and affordable way to get
                the benefits of a pilates workout but in a friendly group environment.<br /><br />
                This class focuses on less rest and more aerobic activity to elevate heart rate 
                to increase fat burning. This class is suited to people looking for a good workout
                that utilizes pilates techniques.
            </p>
            <p>$35</p>
            <p>1 Hour session</p>
        </div>
        <img src="assets/img/group-fitness.jpg" alt="pilates group class" class="col-12" />
    </div>
    <div class="class-row">
        <img src="assets/img/group-mat.jpg" alt="pilates group class" class="col-12" />
        <div class="col-12">
            <h3>Mat Pilates</h3>
            <p><em>(up to 5 people)</em><br /><br />
                Group class pilates provides a safe and affordable way to get
                the benefits of a pilates workout but in a friendly group environment.<br /><br />
                This class focuses on predominately on mat work and correct exercise form and breathing.<br /><br />
                This class is slwoer paced and more suited to beginners and people looking 
                for a relaxed introdution to pilates.
            </p>
            <p>$35</p>
            <p>1 Hour session</p>
        </div>
    </div>
</div>
