<form #contactForm="ngForm" (ngSubmit)="onSubmit()" id="contact-form">
  <div class="contact-inputs flex justify-content__center">
    <div>
      <label for="name">Name (Required)</label>
      <input id="name" [(ngModel)]="email.name" name="name" type="text" required>
    </div>
    <div>
      <label for="email">Email (Required)</label>
      <input id="email" [(ngModel)]="email.address" name="email" required>
    </div>
    <div>
      <label for="phone">Phone</label>
      <input id="phone" [(ngModel)]="email.phone" name="phone">
    </div>
  </div>
  <div class="flex justify-content__center">
    <label for="message">Message</label>
  </div>
  <div class="flex justify-content__center">
    <textarea id="message" [(ngModel)]="email.message" name="message" required></textarea>
  </div>  
  <div class="flex justify-content__center">
    <button type="submit" [disabled]="!contactForm.form.valid">SEND</button>
  </div> 
</form>
