<ul id="nav-bar" class="onscreen">
  <li class="nav-item">
      <nav>
        <a href="/" class="bookmark-link">
          <picture>
            
            <source media="(min-width: 750px)" srcset="assets/img/tustinpilates-logo.png">
            <source media="(min-width: 0px)" srcset="assets/img/tustinpilates-logo-smallest.png">
            <img 
              id="nav-logo" 
              src="assets/img/tustinpilates-logo.png" 
              alt="background header carousel"
            >
          </picture>
        </a>
      </nav>
    </li>
  <li class="right-nav">
    <nav>
      <a href="/" class="bookmark-link">HOME</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/about" class="bookmark-link">ABOUT</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/classes" class="bookmark-link">CLASSES</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav> 
      <a href="/schedule" class="bookmark-link">SCHEDULE</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/testimonials" class="bookmark-link">TESTIMONIALS</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/contact" class="bookmark-link">CONTACT</a>
      <div class="hover-border"></div>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/bookings" class="bookmark-link">BOOK A SESSION</a>
      <div class="hover-border"></div>
    </nav>
  </li>
</ul> 
