<ul id="nav-bar">
  <li class="nav-item">
      <nav>
        <a href="/" class="bookmark-link">HOME</a>
      </nav>
    </li>
  <li class="nav-item">
    <nav>
      <a href="#About" class="bookmark-link">ABOUT</a>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="#Classes" class="bookmark-link">CLASSES</a>
    </nav>
  </li>
  <li class="nav-item">
    <nav> 
      <a href="#schedule-section" class="bookmark-link">SCHEDULE</a>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="#Testimonials" class="bookmark-link">TESTIMONIALS</a>
    </nav>
  </li>
  <li class="nav-item">
    <nav>
      <a href="/contact" class="bookmark-link">CONTACT</a>
    </nav>
  </li>
  <li class="nav-item right-nav">
    <nav>
      <a href="#Contact" class="nav-link">GET STARTED</a>
    </nav>
  </li>
</ul>
