<div id="testimonials-page">
  <h2 class="page-title">TESTIMONIALS</h2>
  <p>At Tustin Pilates we value our customers wants and needs.<br />
    We are always looking for feedback to improve on our service and 
    strive to become the best pilates practice in california.<br /><br />
    If you want to lets us know what we can do better<br />
    or just want to let us know how much pilates at Tustin Pilates has helped you,<br />
    leave a review below!</p>
  
  <div class="flex-wrap">
    <p>Or you can leave us a message on our facebook page!</p>
    <nav>
      <a href="http://facebook.com">
        <p><i class="fab fa-facebook"></i> /TustinPilates</p>
      </a>
    </nav>
  </div>
  <div class="flex align-items__center justify-content__evenly">
    <app-testimonials-section></app-testimonials-section>
  </div>
</div>
